USE [master]
GO
/****** Object:  Database [StudentSample]    Script Date: 07/21/2023 5:07:49 PM ******/
CREATE DATABASE [StudentSample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'z', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER2019\MSSQL\DATA\z.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'z_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER2019\MSSQL\DATA\z_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentSample]
GO
/****** Object:  Table [dbo].[StudentMaster]    Script Date: 07/21/2023 5:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[DateOfBirth] [datetime] NULL,
	[Mobile] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[NIC] [nvarchar](100) NULL,
	[Image] [varbinary](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_StudentMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
